@mixin focus( $variable: --border-color, $color: hsl(var(--color-primary-hsl), 70%)) {
  outline-color: transparent;

  &:focus {
    #{$variable}: $color;

    outline-offset: 1px;
    outline: 1px solid var(#{$variable});
    transition-property: #{transition-property}, outline-offset;
  }
}