@use '../vars/font';



@mixin loadFont {
  $font-weight-filenames: (
    light,
    regular,
    bold
  );

  $font-weights: (
    font.$font-weight-light,
    font.$font-weight-regular,
    font.$font-weight-bold
  );

  @each $weight in $font-weights {
    $index: index($font-weights, $weight);
    $font-weight: nth($font-weights, $index);
    $filename: nth($font-weight-filenames, $index);

    @font-face {
      font-style: normal;
      font-weight: #{$font-weight};
      font-family: font.$font-primary;
      src: url('/fonts/open-sans/#{$filename}.ttf') format('truetype');
    }
  }
}