@use '../vars/color';



:root {
  --color-primary-light: #{color.$color-primary-light};
  --color-primary-rgb-light: #{color.$color-primary-rgb-light};
  --color-primary-hsl-light: #{color.$color-primary-hsl-light};

  --color-secondary-light: #{color.$color-secondary-light};
  --color-secondary-rgb-light: #{color.$color-secondary-rgb-light};
  --color-secondary-hsl-light: #{color.$color-secondary-hsl-light};

  --color-primary: var(--color-primary-light);
  --color-primary-rgb: var(--color-primary-rgb-light);
  --color-primary-hsl: var(--color-primary-hsl-light);

  --color-secondary: var(--color-secondary-light);
  --color-secondary-rgb: var(--color-secondary-rgb-light);
  --color-secondary-hsl: var(--color-secondary-hsl-light);

  --color-error: #{color.$color-error};
  --color-error-rgb: #{color.$color-error-rgb};
  --color-error-hsl: #{color.$color-error-hsl};

  --color-text: var(--color-primary);
  --color-text-rgb: var(--color-primary-rgb);
  --color-text-hsl: var(--color-primary-hsl);
}